.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
!.gitignore
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*.sublime-workspace
.sensitive
tags
*.log
config/nvim/plugin/packer_compiled.lua
config/lvim/plugin
config/lvim/ignore
config/lvim.old
config/pgcli/history
config/pgcli/log
config/hub
config/.erlyberly2
config/mssqlcli/
config/wireshark/
config/.isolated-storage/
config/BHOK/
config/Wondershare*
config/WsSocialApp
config/7eba963f0804
config/gh
config/sql-language-server
config/efm-langserver
config/joplin-desktop
config/iterm2
config/exercism
config/htop
config/gtk-2.0
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache
Package Control.ca-certs
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
*.crt
.ctags.d
